h2 {
  text-align: center;
  padding-top: 20px;
  font-style: italic;
  color: white;
}

.form-inputs, .form-actions {
  text-align: center;
  width: 50%;
  margin: auto;
  color: white;
}

body {
 background-image: url("https://bauerfrodoprod.blob.core.windows.net/uploads/8836ea39-3741-4c95-b7dc-003ff8885583-ls4618_42_gi_172600883_501x374.jpg");
  background-size: cover;
  height: 600px;
}
